body
{
	background-color: #000;
	color: #fff;
	padding: 0;
	margin: 0;
}

#div-1
{
	position: relative;
/*	top: 30px;
	left: 30px;*/
}

#div-1a
{
	position: absolute;
	background-color: red;
	top: 0;
	left: 0;
	width: 50%;
}

#div-1b
{
	position: absolute;
	background-color: green;
	top: 0;
	right: 0;
	width: 50%;
}

#div-1c
{
	position: static;
	background-color: blue;
}
